@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.namebox {
    text-align: center;
    font-family: "roboto";
    color: white;
    font-size: 80px;
    border: 8px solid white;
    padding: 10px;
    box-shadow: 0px 0px 5px black, inset 0px 0px 5px black;
    text-shadow: 0px 0px 5px black;
    background-color: #00000033;
    transition: background-color 500ms;
    cursor: pointer; 
    z-index: 100;
}

.namebox:hover {
    background-color: #00000088;
}

.container {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    background: url("bg.png"), linear-gradient(320deg, #00FFFF, #FF00FF);
    background-size: 512px, 100%;
    background-blend-mode: multiply;
    animation: bgshift 10s linear infinite;
    z-index: -1;
    height: 100%;
    width:100%;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@keyframes bgshift{
    from{
        background-position-x: 0px, 0px;
        background-position-y: 0px, 0px;
        filter: hue-rotate(359deg);
    }
    to{
        background-position-x: 512px, 0px;
        background-position-y: 362px, 0px;
        filter: hue-rotate(0deg);
    }
}