@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

.namebox {
    position: relative;
    text-align: center;
    font-family: "roboto";
    color: white;
    font-size: 80px;
    border: 8px solid white;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 5px black;
    background: transparent;
    transition: transform 0.8s;
    cursor: pointer; 
    transform-style: preserve-3d;
}

.card:hover .namebox {
    transform: rotateY(180deg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: transparent;
    width: 750px;
    height: 150px;
    perspective: 1000px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    animation: bgshift 10s linear infinite;
    background: url(bg.png);
    background-size: 512px;
    padding: 20px;
}

.back {
    font-size: 60px;
    padding-top: 30px;
    transform: rotateY(180deg);
}

a {
    color: white;
    text-decoration: none;
}


body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    background: url("bg.png"), linear-gradient(320deg, #00FFFF, #FF00FF);
    background-size: 512px, 100%;
    background-blend-mode: multiply;
    animation: bgshift 10s linear infinite;
    height: 100%;
    width:100%;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@keyframes bgshift{
    from{
        background-position-x: 0px, 0px;
        background-position-y: 0px, 0px;
        filter: hue-rotate(359deg);
    }
    to{
        background-position-x: 512px, 0px;
        background-position-y: 362px, 0px;
        filter: hue-rotate(0deg);
    }
}