@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

.imgbox {
    position: relative;
    text-align: center;
    font-family: "roboto";
    color: white;
    font-size: 80px;
    border: 4px solid #687078;
    height: 450px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
    transition: height 200ms;
}

/*
.imgbox:focus {
    height: 800px;
}
*/

.images {
    width: 75vw;
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    flex-shrink: 3;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    margin: auto;
}

img{
    height: 100%;
    width: 100%;
}

.title{
    color: #333333;
}

h1{
    font-size: 50px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

h3{
    font-size: 30px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 70px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 4;
    flex-shrink: 3;
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #D0D8E0;
}
