@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Symbols:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
    font-family: "Arvo";
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    position: relative;
    font-size: 0.7em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    top: -2px;
}

h4 {
    position: relative;
    font-size: 0.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    top: -3px;
}

.beschnitt {
    box-sizing: border-box;
    position: relative;
    width: 111mm;
    height: 154mm;
    padding: 3mm;
}

.page {
    box-sizing: border-box;
    position: relative;
    width: 105mm;
    height: 148mm;
    padding: 3mm;
    margin: 0;
}

.page.left {
    padding-right: 16mm;
}

.page.right {
    padding-left: 16mm;
}

.day {
    box-sizing: border-box;
    position: relative;
    width: 86mm;
    height: 71mm;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lines {
    position: relative;
}

.page-number {
    position: absolute;
    font-size: 0.6em;
    width: 86mm;
    padding: 0 2mm;
    margin: 0;
    bottom: 3mm;
    font-family: "Noto Sans";
}

.page-number.left {
    text-align: left;
}

.page-number.right {
    text-align: right;
}

.main-panel {
    width: 20mm;
    height: 61mm;
    margin: 0;
    padding: 0;
}

.date {
    width: 20mm;
    text-align: center;
}

.sunsign {
    position: relative;
    top: -15px;
    text-align: center;
    font-variant-emoji: text;
    font-weight: bold;
    font-size: 25px;
    font-family: "Noto Sans Symbols", "Noto Sans";
}

table {
    width: 25mm;
    margin: 0;
    padding: 0;
    border-spacing: 0px;
    font-size: 0.6em;
    line-height: 1.1em;
    font-variant-emoji: text;
    font-family: "Noto Sans Symbols", "Noto Sans";
}

td {
    padding: 0;
    margin: 0;
    width: 2mm;
    text-align: center;
}

td[colspan="5"] {
    text-align: left;
    height: 1.5em;
}

td.symbol {
    font-weight: bold;
}

@media print {
    .page-break { page-break-after: always; } /* page-break-after works, as well */
}

.page-break {
    display: none;
}